@import url(https://fonts.googleapis.com/css?family=Anton);

@font-face {
	font-family: 'Anton', sans-serif;
	src: url("https://fonts.googleapis.com/css?family=Anton");
}

header {
	background: black;
}

#food {
	font-size: large;
	text-align: center;
}

h1 {
	font-family: Anton;
	color: white;
	text-align: center;
}

#form {
	text-align: right;
	font-weight: bold;
}

footer {
	background: black;
	position: relative;
}

#Menu {
	width: 100%;
	background: orange;
}

/*Link Style Begin*/
a {
	font-family: monospace;
}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: orange;
	text-decoration: none;
	
}

a:hover {
	color: orange;
	font-weight: bold;
	text-decoration: underline;
}

a:active {
	font-weight: bold;
	text-decoration: none;
}
/*Link Style End*/