@import url(https://fonts.googleapis.com/css?family=Anton);

@font-face {
	font-family: 'Anton', sans-serif;
	src: url("https://fonts.googleapis.com/css?family=Anton");
}

header {
	font-family: Anton;
	background: black;
}

footer {
	background: black;
	position: relative;
}