@import url(https://fonts.googleapis.com/css?family=Anton);
/*Image size/position*/
#picture {
	background: url("http://cps-static.rovicorp.com/3/JPG_400/MI0001/926/MI0001926435.jpg?partner=allrovi.com") no-repeat;
	background-attachment: fixed;
	background-position: center top;
	width: 600px;
	height: 400px;
}

/*Background Color*/
body {
	background: #e0e0d1;
}

/*title color*/
#Center{
	font-family: Anton;
	color: black;
	text-align: center;
}


/*Names text color/font*/
@font-face {
	font-family: "Anton", sans-serif;
	font-style: normal;
	font-weight: 400;
	src: url("https://www.google.com/fonts#QuickUsePlace:quickUse/Family:Anton");
}

#Names {
	font-family: Anton;
}


/*Table Style Begin*/
table {
	width: 100%;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	font-style: italic;
	text-align: center;
}

tbody tr:nth-child(even) {
	background: #c1c1a4;
}
/*Table Style End*/



/*Non title text color/style*/
td, th, li {
	color: black;
	font-style: italic;
}


/*border line color*/
#Color {
	background: gray;
}


/*Link Style Begin*/
a {
	font-family: monospace;
}

a:link {
	color: red;
	background: gray;
	text-decoration: none;
}

a:visited {
	color: black;
	background: gray;
	text-decoration: none;
}

a:hover {
	color: black;
	background: red;
	text-decoration: underline;
}

a:active {
	font-weight: bold;
	text-decoration: none;
}
/*Link Style End*/