@import url(https://fonts.googleapis.com/css?family=Anton);

@font-face {
	font-family: 'Anton', sans-serif;
	src: url("https://fonts.googleapis.com/css?family=Anton");
}

header {
	background: black;
}

#food {
	font-size: x-large;
	text-align: center;
}

h1 {
	font-family: Anton;
	color: white;
	text-align: center;
}

#form {
	text-align: right;
	font-weight: bold;
}

footer {
	background: black;
	position: relative;
}