@import url(https://fonts.googleapis.com/css?family=Anton);
/*Image size/position*/
#picture {
	background: url("http://cps-static.rovicorp.com/3/JPG_400/MI0001/926/MI0001926435.jpg?partner=allrovi.com") no-repeat;
	background-attachment: fixed;
	background-position: center top;
	width: 600px;
	height: 400px;
}

/*title color*/
#Center{
	font-family: Anton;
	color: red;
	text-align: center;
}


/*Names text color/font*/
@font-face {
	font-family: "Anton", sans-serif;
	font-style: normal;
	font-weight: 400;
	src: url("https://www.google.com/fonts#QuickUsePlace:quickUse/Family:Anton");
}

#Names {
	font-family: Anton;
}

li {
	font-style: italic;
}
/*Non title text color*/
th {
	color: red;
}

/*border line color*/
#Color {
	background: gray;
}